<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.lizhichao.mapper.ArticleMapper">
  	<select id="list" resultType="com.lizhichao.bean.Article">
  		select a.id,a.title,a.created,a.commentCnt,u.username from cms_article a,cms_user u
  		where a.user_id=u.id
  			<if test="d1!=null and d1!=''">
  				and created>=#{d1}
  			</if>
  			<if test="d2!=null and d2!=''">
  				and created&lt;=#{d2}
  			</if>
  			<if test="choice!=null and choice!=''">
  				ORDER BY ${choice} desc
  			</if>
  	</select>
  </mapper>